@model BlogDapper.Models.Articulo
@{
    ViewData["Title"] = "Detalle Articulo"; 
}

<div class="row mt-4">
    <div class="card">
       <div class="card-header">
       <div class="col-12">
           <h4 class="text-center">@Model.Titulo</h4>
       </div>
       <div/>
   <div class="card-body">
       <div class="col-12">
           <img src="@Model.Imagen" class="img-thumbnail mx-auto d-block"/>
           <p class="text-secondary">@Html.Raw(Model.Descripcion)</p>
       </div>
   </div>
   <div class="card-footer">
       <div class="row">
           <div class="col-12 col-md-6 pb-1">
               <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>
           </div>
       </div>
   </div>   
   </div>
</div>

    <div class="row mt-4">
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="text-center">Crear Comentario</h3>
            <div class="col-4 offset-4">
                <form asp-controller="Inicio" asp-action="CrearComentario">

                    <div class="form-group">
                        <label for="Titulo" class="control-label">Titulo</label>
                        <input name="Titulo" class="form-control" placeholder="Ingresa el titulo del comentario" />
                     
                    </div>

                    <div class="form-group">
                        <label for="Mensaje" class="control-label">Mensaje</label>
                        <input name="Mensaje" class="form-control" placeholder="Ingresa el comentario" />

                    </div>

                    <div class="form-group">
                        <label for="Articulo" class="control-label">Articulo</label>
                        <input name="ArticuloId" value="@Model.IdArticulo" class="form-control"  readonly/>
                    </div>

                    <div class="form btn-group row mt-4">
                        <div class="col-6">
                            <input type="submit" value="Crear Comentario" class="btn btn-primary form-control" />
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn btn-warning form-control">Volver a lista</a>
                        </div>
                    </div>

                </form>

            </div>
        }
    </div>

<div class="row mt-4">
<div class="col-4">
   <h3>Comentarios</h3>
        @if(ViewData["ListaComentarios"]!=null){

                <ul class="list-group">
                    @foreach(var item in (List<Comentario>)ViewData["ListaComentarios"]){
                        <li class="list-group-item bg-success text-white">
                            <strong>@item.Titulo</strong>
                            <br/>
                            @item.Mensaje
                        </li>



                    }

                                </ul>


         }else{
             <p>No hay comentarios</p>
         }
                        </div>
                    </div>